// Grid Settings

_font-size = 14px
_line-height = 1.4
_scale-factor = 1.8
_h1-multiplexer = 3
_h2-multiplexer = 2
_h3-multiplexer = 1
_h4-multiplexer = 0
_grid-width-ratio = 40

// Grid Calculations

base-font-size = _font-size
base-line-height = round( _font-size * _line-height )

h1-font-size = round( _font-size * (_scale-factor ** _h1-multiplexer) )
h1-line = round( _font-size * _line-height )
h1-lines = ceil( h1-font-size / h1-line )
h1-line-height = h1-line * h1-lines
h1-margin-top = 2 * h1-line
h1-margin-bottom = 1 * h1-line

h2-font-size = round( _font-size * (_scale-factor ** _h2-multiplexer) )
h2-line = round( _font-size * _line-height )
h2-lines = ceil( h2-font-size / h2-line )
h2-line-height = h2-line * h2-lines
h2-margin-top = 2 * h2-line
h2-margin-bottom = 1 * h2-line

h3-font-size = round( _font-size * (_scale-factor ** _h3-multiplexer) )
h3-line = round( _font-size * _line-height )
h3-lines = ceil( h3-font-size / h3-line )
h3-line-height = h3-line * h3-lines
h3-margin-top = 1 * h3-line
h3-margin-bottom = 1 * h3-line

h4-font-size = round( _font-size * (_scale-factor ** _h4-multiplexer) )
h4-line = round( _font-size * _line-height )
h4-lines = ceil( h4-font-size / h4-line )
h4-line-height = h4-line * h4-lines
h4-margin-top = 1 * h4-line
h4-margin-bottom = 1 * h4-line


// Grid Styles

*
  font-family 'PT Sans', sans-serif

body
  font-size _font-size
  line-height round( _font-size * _line-height )
  max-width _font-size * _grid-width-ratio
  margin 0 auto
  color #444

h1
  font-size h1-font-size
  line-height h1-line-height
  margin-top h1-margin-top
  margin-bottom h1-margin-bottom

h2
  font-size h2-font-size
  line-height h2-line-height
  margin-top h2-margin-top
  margin-bottom h2-margin-bottom

h3
  font-size h3-font-size
  line-height h3-line-height
  margin-top h3-margin-top
  margin-bottom h3-margin-bottom

h4
  font-size h4-font-size
  line-height h4-line-height
  margin-top h4-margin-top
  margin-bottom h4-margin-bottom

p,
ul,
ol,
pre,
table,
blockquote
  margin-top round( _font-size * _line-height )
  margin-bottom round( _font-size * _line-height )


/* Sanitation */
hr
  border 1px solid
  margin -1px 0

ul ul,
ol ol,
ul ol,
ol ul
  margin-top 0
  margin-bottom 0

b,
strong,
em,
small,
code
  line-height 1

sup,
sub
  vertical-align baseline
  position relative
  top -0.4em

sub
  top 0.4em
